.radios-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cards-radios{
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 24px;
}

.cards-radios img{
    width: 70px;
    height: 70px;
    border-radius: 26px;
    border: 2px solid black;
    box-shadow: 1px 2px 5px rgb(0 0 0);
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.cards-radios p{
    font-size: 1rem;
    color: black;
    width: 97px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
}