.containerAll {
    display: flex;
    margin-top:1rem;
   
}

.RadioItemsContainer {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 200px;
    display:flex;
    background: #0e0233;
    left: 0;
    transition: all 0.5s ease;
    margin-left: 0px;
    z-index: 1;
    padding: 1rem;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}
.RadioItemsContainer:hover,
.RadioItemsContainer:focus {
  
  background-color: #4a3686;
}






.RadioList { 

text-align: center;
align-items: center;
width: 200px;   
background: #0e0233;
padding-right: 1rem;
margin-top: 1rem;



} 

li.nav-radio {
    font-size: 1.5rem;
    color:#e0ffdd;
    margin-top: 2rem;
    text-decoration: none;
    list-style: none;
    margin: 10px;
    cursor: pointer;
  
}



.img{
     width:20px;
     height:20px;
     position: absolute;
    width: 15px;
    height: 15px;
    left: 1%;
}

@media screen and (max-width: 700px) {

.RadioItemsContainer{

 
}
.img {
    display:none;
}
.RadioList { 

    text-align: center;
     align-items: center;
     width: 100px;   
     background: #0e0233;
     padding-right: 1rem;
     margin-top: 1rem;
     
     
     } 

}


  