
.modal-wrapper{
    
    max-width: 800px;
    margin: 7rem auto;
    width: 93%;
}
 
.fa-times-circle{
    cursor: pointer;
    font-size: 30px;
}

.favorite{
    cursor: pointer;
}

.modal-header{
    background:  #2c2c2c;
    color:  #e9e9e9;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-header span{
    font-size: 1.5rem;
    cursor: pointer;
}

.container-popUp{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0px;
    }

.modal-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background: #fff;
}
.modal-body{
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 21px
}

.modal-body p{
 font-size: 1rem;
 color:black;
 width: 97px;
 text-overflow: ellipsis;
 overflow: hidden;
 white-space: nowrap;
 text-align: center;
 cursor: pointer;
}



.modal-body img{
    width: 52px;
    height: 52px;
    border-radius: 26px;
    border: 2px solid black;
    box-shadow: 1px 2px 5px rgb(0, 0, 0, 1);
    margin-bottom: 0.5rem;
    cursor: pointer;
}

@media screen and (max-width:780px){
    img{
        display: none;
    }
    .container-popUp{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;   
    }
    
    .modal-wrapper {
    max-width: 800px;
    margin: 2rem auto;
    width: 96%;
    }

    .modal-body p{
       font-size: 16px;
    }

}