
.card-containers{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px 0 50px;
}

.card-container{
    width: 244px;
    margin: 4px;
    margin-right: 4px;
}


.image-container img {
    overflow: hidden;
    height: 171px;
    border-radius: 60%;
    display: block;
    margin: auto;
}

.card-content h3{
    text-align: center;
}
.card-title{
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

