.card-container{
    width: 300px;
    overflow: hidden;
    box-shadow: 0px, 0px, 15px, 5px;
    transition: 0.5s;
    animation: ease-in-out;
}

.card-container :hover{
    transform: scale(1.1);
    box-shadow: 0px, 0px, 15px, 0px;
}


.image-container img{
    overflow: hidden;
    height: 200px;
    margin-top: 0.5rem;
    margin-left: 5%;
    

}

.card-content{
    margin: 1rem;
    margin-top: 0.2rem;
    margin-left: 5%;
}

h3,p{
    margin: 0;
    padding: 0;
}

.card.title{
    margin-bottom: 0.5rem;
}



a{
    text-transform: uppercase;
    color: royalblue;
    text-decoration: none;
    font-weight: bold;
}