.controls{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100px;
  background: rgb(23, 1, 89);
  color:black;
  align-items: center;
  justify-content: center;
}

.vlmen{
  display:flex;
  align-content: center;
  margin-right: 15px;   
}

.vlmen:hover {
  width: initial;
}

.volum {
padding: 15px;

}
.fa-volume-down {
color: #EFFF12;
font-size: 30px;
cursor: pointer;

}

.fa-volume-down:hover {
color:#F5455D;
}

.fa-random {
color: #EFFF12;
font-size: 23px;
margin-left: 10px;
}

.fa-random:hover {
color:#F5455D;
}


.musicControls span {
cursor: pointer;
}

.musicControls span:hover {
color: #F5455D;
}

.play {
background: #EFFF12;
padding: 15px 18px;
border-radius: 100%;
box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
position: relative;
z-index: 3;
}

.play:active {
box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.233);
}

.play:hover {
box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
}

.prev {
background:#EFFF12;
border-radius: 10px 0px 0px 10px;
padding-left: 18px;
padding-right: 20px;
margin-right: -5px;
z-index: 1;
}

.next {
background:#EFFF12;
border-radius: 0px 10px 10px 0px;
padding-right: 18px;
padding-left: 20px;
margin-left: -5px;
z-index: 1;
}

.random{
  margin-left: 10px;
  margin-right: 5px;
}

.country-name{
margin: 20px;
}

.radio-name{
margin: 20px;
}

.image-player {
margin: 10px;
height: 50px;
border-radius: 30px;
align-items: center;



}
.name-country-radio{
display: flex;
flex-direction: row;
margin: 20px;
position: absolute;
right: 65%;
color: rgb(217, 243, 242);
}

.currentT, .totalT {
width: 35px;
}


  @media screen and (max-width: 700px){
    .progressb{
      display: none;
    }  

    #prgbar {
      display: none;
     }

    input #volBar{
      display:none;
    }



  }

.name-country-radio{
  display: flex;
}