.chartdiv {
  width: 100%;
   height: 500px;
 
  }


  /* MENU LATERAL RADIO */
  .containerAll {
       display: flex;
       margin-top:1rem;
      
  }

  .RadioItemsContainer {
       border-top-right-radius: 20px;
       border-bottom-right-radius: 20px;
       width: 200px;
       display:flex;
       background: #0e0233;
       left: 0;
       transition: all 0.5 ease;
       margin-left: 0px;
       z-index: 1;
       padding: 1rem;
      
   }

   .RadioItemsHidden {
       display: none;
      
 }    
  
   .RadioList { 
  
  text-align: center;
   align-items: center;
   width: 200px;   
   background: #0e0233;
   padding-right: 1rem;
   margin-top: 1rem;
   
   
   } 
   
   a.nav-radio {
       font-size:1.2rem;
       color:white;
       margin-top: 2rem;
     
       text-decoration: none;
       list-style: none;
       margin: 10px;
   
   }
   
   .li-radios {
       padding-top: 2rem;
       margin-top: 1rem;
       text-decoration: none;
       list-style: none;
   }

   .img{
        width:20px;
        height:20px;
        position: absolute;
       width: 15px;
       height: 15px;
       left: 1%;
   }
   
@media screen and (max-width: 700px) {
  
  .RadioItemsContainer{
   
       width: 100px;

  }
  .img {
       display:none;
  }
  .RadioList { 
  
       text-align: center;
        align-items: center;
        width: 100px;   
        background: #0e0233;
        padding-right: 1rem;
        margin-top: 1rem;
        
        
        } 

  }



   