.chartdiv {
  width: 100%;
   height: 500px;
 
  }


  /* MENU LATERAL RADIO */
  .containerAll {
       display: flex;
       margin-top:1rem;
      
  }

  .RadioItemsContainer {
       border-top-right-radius: 20px;
       border-bottom-right-radius: 20px;
       width: 200px;
       display:flex;
       background: #0e0233;
       left: 0;
       transition: all 0.5 ease;
       margin-left: 0px;
       z-index: 1;
       padding: 1rem;
      
   }

   .RadioItemsHidden {
       display: none;
      
 }    
  
   .RadioList { 
  
  text-align: center;
   align-items: center;
   width: 200px;   
   background: #0e0233;
   padding-right: 1rem;
   margin-top: 1rem;
   
   
   } 
   
   a.nav-radio {
       font-size:1.2rem;
       color:white;
       margin-top: 2rem;
     
       text-decoration: none;
       list-style: none;
       margin: 10px;
   
   }
   
   .li-radios {
       padding-top: 2rem;
       margin-top: 1rem;
       text-decoration: none;
       list-style: none;
   }

   .img{
        width:20px;
        height:20px;
        position: absolute;
       width: 15px;
       height: 15px;
       left: 1%;
   }
   
@media screen and (max-width: 700px) {
  
  .RadioItemsContainer{
   
       width: 100px;

  }
  .img {
       display:none;
  }
  .RadioList { 
  
       text-align: center;
        align-items: center;
        width: 100px;   
        background: #0e0233;
        padding-right: 1rem;
        margin-top: 1rem;
        
        
        } 

  }
/*CONTROLS*/

.controls{
     display: flex;
     flex-direction: row;
     height: 100px;
     background: rgb(250, 253, 50);
     color:black;
     align-items: center;
     justify-content: space-evenly;
}

.vlmen{
     display:flex;
     align-content: center;
     overflow: hidden;
     width: 20px;
     transition: all 500ms;
}

.vlmen:hover {
     width: initial;
}

.volum {
  padding: 10px;

}

#volBar {
  padding: 0;
  margin: 0;
  width: 50px;
  background:  rgb(250, 253, 50);
}

#volBar::-moz-range-thumb {
  height: 10px;
  width: 3px;
  background: #2A6586;
  border-radius: 5px;
  cursor: pointer;
}

.musicControls {
  margin-left: 90px;
}

.musicControls span {
  cursor: pointer;
}

.musicControls span:hover {
  color: #2A6586;
}

.play {
  background: #4AA9DE;
  padding: 15px 18px;
  border-radius: 100%;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 3;
}

.play:active {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.play:hover {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
}

.prev {
  background: #4aa9de;
  border-radius: 10px 0 0px 10px;
  padding-left: 15px;
  padding-right: 10px;
  margin-right: -5px;
  z-index: 1;
}

.next {
  background: #4aa9de;
  border-radius: 0px 10px 10px 0px;
  padding-right: 15px;
  padding-left: 10px;
  margin-left: -5px;
  z-index: 1;
}

.random{
     margin-left: 10px;
     margin-right: 5px;
}

.progressb {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 490px;
  margin-left: 20px;
}
#prgbar {
  background: transparent;
  width: 350px;
}



.currentT, .totalT {
  width: 35px;
}


input[type=range] {
     -webkit-appearance: none;
     margin: 10px 0;
     width: 100%;
   }
   
   input[type=range]:focus {
     outline: none;
   }
   
   input[type=range]::-webkit-slider-runnable-track {
     width: 100%;
     height: 5px;
     cursor: pointer;
     animate: 0.2s;
     box-shadow: 0px 0px 0px #000000;
     background: #4aa9de;
     border-radius: 5px;
     border: 0px solid #000000;
   }
   
   input[type=range]::-webkit-slider-thumb {
     box-shadow: 0px 0px 1px #000000;
     border: 0px solid #000000;
     height: 13px;
     width: 4px;
     border-radius: 50px;
     background: #2a6586;
     cursor: pointer;
     -webkit-appearance: none;
     margin-top: -4px;
   }
   
   input[type=range]:focus::-webkit-slider-runnable-track {
     background: #4aa9de;
   }
   
   input[type=range]::-moz-range-track {
     width: 100%;
     height: 5px;
     cursor: pointer;
     animate: 0.2s;
     box-shadow: 0px 0px 0px #000000;
     background: #4aa9de;
     border-radius: 5px;
     border: 0px solid #000000;
   }
   
   input[type=range]::-moz-range-thumb {
     box-shadow: 0px 0px 1px #000000;
     border: 0px solid #000000;
     height: 13px;
     width: 4px;
     border-radius: 50px;
     background: #2a6586;
     cursor: pointer;
   }
   
   input[type=range]::-ms-track {
     width: 100%;
     height: 5px;
     cursor: pointer;
     animate: 0.2s;
     background: transparent;
     border-color: transparent;
     color: transparent;
   }
   
   input[type=range]::-ms-fill-lower {
     background: #4aa9de;
     border: 0px solid #000000;
     border-radius: 10px;
     box-shadow: 0px 0px 0px #000000;
   }
   
   input[type=range]::-ms-fill-upper {
     background: #4aa9de;
     border: 0px solid #000000;
     border-radius: 10px;
     box-shadow: 0px 0px 0px #000000;
   }
   
   input[type=range]::-ms-thumb {
     box-shadow: 0px 0px 1px #000000;
     border: 0px solid #000000;
     height: 13px;
     width: 4px;
     border-radius: 50px;
     background: #2a6586;
     cursor: pointer;
   }
   
   input[type=range]:focus::-ms-fill-lower {
     background: #4aa9de;
   }
   
   input[type=range]:focus::-ms-fill-upper {
     background: #4aa9de;
   }
   
   .plsoptions {
     justify-self: flex-end;
   }



   